body {
    background-color: rgb(46, 52, 64);
    color: rgb(236, 239, 244);
}

a:link {color: rgb(236, 239, 244);}

a:visited {color: rgb(236, 239, 244);}

a:hover {color: rgb(236, 239, 244);}

a:active {color: rgb(236, 239, 244);}
